.App {
  text-align: center;
}
body {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #3cd0ea, #373553 85%, #ffffff);
}
 
.auth-form-container, .update-product-form, .login-form, .register-form, .dashboard-container, .add-new-product-form, .place-new-order-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container{
  color:white;
  padding: 4rem;
  margin: 0.5rem;
}

@media screen and (min-width: 600px) { 
  .auth-form-container, .my-profile-form-container{
    border:2px solid white;
    border-radius: 10px;
  }
}
  
label {
  text-align: left;
}

input {
  margin: 0.25rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

button {
  border:none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color:#0a92b4;
}

.dashboard-button {
  box-shadow:inset -2px 0px 12px -2px #ffffff;
	background-color:#70ddf0;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	width: 400px;
  height: 200px;
	text-shadow:0px 0px 0px #ffffff;
  
}

.dashboard-button:hover{
  background-color:#0eaeca;
}

.dashboard-button:active{
  position: relative;
  top: 1px;
}

.link-button {
  background: none;
  text-decoration: underline;
}

.link-text {
  color: white;
}

select {
  border:none;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  color:#2fad05;
  margin-bottom: 5px;
}

.my-profile-username-label{
  font-size: 34px;
}

.my-profile-form-container{
  color:white;
}

.my-profile-table{
  width: 600px;
  padding: 5rem;
  text-align: left;
}

.profile-picture{ 
  margin-top: 5px;
  width: 170px;
  height: 90px;
}

.profile-picture-container{
  text-align: center;
  width: 180px;
  height: 100px;
  border: 1px solid white;
  border-radius: 10px;
}

.update-button{
  text-align: center;
  width: 400px;
}

.verify-sellers-table{
  border-collapse: collapse;
  color:white;
  font-size: 14px; 
  margin-top: 50px; 
}

.verify-sellers-table tr{
  border-bottom: 1px solid white; 
}

.verify-sellers-table-header-row {
  font-size: 20px;
} 

.verify-sellers-table th {
  border:2px solid white;
  padding: 5px;
}

.add-new-product-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
}

.add-new-product-button:hover { 
  color:white;
  background-color:#0eaeca;
}

.place-new-order-form {
  position: fixed;
  bottom: 0px;
  right: 50px;
  width: 200px;
  height: 200px;
  color: white;
}

.back-to-dashboard-button {
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 5%;
}

.back-to-dashboard-button:hover {
  color: white;
  background-color: #0eaeca;
  border:1px solid white;
}

.log-out-button {
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 5%;
}

.log-out-button:hover {
  border:1px solid white;
  color: white;
  background-color: #0eaeca;
}
 